<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>AskYourAlem</title>
    
  </head>
  <body>
   <div class="row green_bg">
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">


     
<a class="nav-link text-center" href="#" style="font-size:15px;font-weight:bold;color: white">sign up|Contact with our scholar</a>
</div>
<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
<!--<input class="smbtn" type="checkbox" checked data-toggle="toggle" data-on="BN" data-off="EN">-->
<a href="question.html" class="btn smbtn"> Ask Your Alem</a>

</div>


</div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="img/logo.png" alt=""></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="#">Quran</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Hadith</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Sunah</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Islamic News</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Our Scholars</a></li>
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
   
   
   
   
   
   <!--
    ####################################################
    C A R O U S E L
    ####################################################
    -->
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <a href="https://bootstrapcreative.com/">
                    <!-- 
                    If you need more browser support use https://scottjehl.github.io/picturefill/
                    If a picture looks blurry on a retina device you can add a high resolution like this
                    <source srcset="img/blog-post-1000x600-2.jpg, blog-post-1000x600-2@2x.jpg 2x" media="(min-width: 768px)">

                    What image sizes should you use? This can help - https://codepen.io/JacobLett/pen/NjramL
                     -->
                    <picture>
                        <source srcset="img/cp1.jpg" media="(min-width: 1400px)">
                        <source srcset="img/cp1.jpg" media="(min-width: 769px)">
                        <source srcset="https://dummyimage.com/800x500/007aeb/4196e5" media="(min-width: 577px)">
                        <img srcset="https://dummyimage.com/600x500/007aeb/4196e5" alt="responsive image" class="d-block img-fluid">
                    </picture>

                    <div class="carousel-caption">
                        <div>
                            <h2></h2>
                            <p class="trajan">For Him Who Follows The Path Of Seeking Knowledge.Allah Will Ease Him The Path To Paradise</p>
                            <h5> Prophet Mohammad (Sm.) [Muslim]</h5>


                            <span class="btn btn-sm btn-outline-secondary">Learn More</span>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /.carousel-item -->
            <div class="carousel-item">
                <a href="https://bootstrapcreative.com/">
                    <picture>
                        <source srcset="img/cp3.jpg" media="(min-width: 1400px)">
                        <source srcset="img/cp3.jpg" media="(min-width: 769px)">
                        <source srcset="https://dummyimage.com/800x500/007aeb/4196e5" media="(min-width: 577px)">
                        <img srcset="https://dummyimage.com/600x500/007aeb/4196e5" alt="responsive image" class="d-block img-fluid">
                    </picture>

                    <div class="carousel-caption justify-content-center align-items-center">
                        <div>
                            <h2></h2>
                            <p class="trajan">Knowledge Doesn't Come You Have To Go For It</p>
                            <h5>Emam Malik (Rh.)</h5>
                            <span class="btn btn-sm btn-outline-secondary">Our Process</span>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /.carousel-item -->
            <div class="carousel-item">
                <a href="https://bootstrapcreative.com/">
                    <picture>
                        <source srcset="img/cp4.jpg" media="(min-width: 1400px)">
                        <source srcset="img/cp4.jpg" media="(min-width: 769px)">
                        <source srcset="https://dummyimage.com/800x500/007aeb/4196e5" media="(min-width: 577px)">
                        <img srcset="https://dummyimage.com/600x500/007aeb/4196e5" alt="responsive image" class="d-block img-fluid">
                    </picture>

                    <div class="carousel-caption justify-content-center align-items-center">
                        <div>
                            <h2></h2>
                            <p class="trajan">The seeking of knowledge is obligitory for every Muslim</p>
                            <h5>Al-Tirmidhi #74</h5>

                            <span class="btn btn-sm btn-secondary">Learn How</span>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /.carousel-item -->
        </div>
        <!-- /.carousel-inner -->
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- /.carousel -->
<!-- Description Box   -->


   <div class="container  mt-5">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="container">
                <h1 class="trajan center title">Get Connected with Alem</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis praesentium odit nihil, a iure voluptatibus quisquam at eligendi, consectetur, debitis facilis sint provident? Nihil quasi culpa, excepturi ex eos nesciunt non eum, ab officia dignissimos iste, quaerat. Voluptates, nesciunt, incidunt!
                </p>

                </div>

            </div>


            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

            </div>

        </div>
    </div>

<!--Descripion End-->

<!--  Feature Box-->
    <div class="box">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">

                    <div class="box-part text-center shadow">

                        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

                        <div class="title trajan">
                            <h4>Instagram</h4>
                        </div>

                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                        </div>

                        <a class="btn" href="#">Learn More</a>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center  shadow">

                        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>

                        <div class="title trajan">
                            <h4>Twitter</h4>
                        </div>

                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                        </div>

                        <a class="btn" href="#">Learn More</a>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">

                    <div class="box-part text-center shadow">

                        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>

                        <div class="title trajan">
                            <h4>Facebook</h4>
                        </div>

                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                        </div>

                        <a class="btn" href="#">Learn More</a>

                    </div>
                </div>


            </div>
        </div>
    </div>
<!--  Feature Box End-->
  
<!--     Counter Box-->
<div class="jumbotron">
<div class="row w-100">
        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-car" aria-hidden="true"></span></div>
                <div class="text-info text-center mt-3"><h4>Alems</h4></div>
                <div class="text-info text-center mt-2"><h1><span class="count4" data-from=" 0 " data-to="5210" data-time="300"></span></h1></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-success mx-sm-1 p-3">
                <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-eye" aria-hidden="true"></span></div>
                <div class="text-success text-center mt-3"><h4>Users</h4></div>
                <div class="text-success text-center mt-2"><h1><span class="count4" data-from=" 0 " data-to="5210" data-time="300"></span></h1></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-heart" aria-hidden="true"></span></div>
                <div class="text-danger text-center mt-3"><h4>Active Now</h4></div>
                <div class="text-danger text-center mt-2"><h1><span class="count4" data-from=" 0 " data-to="5210" data-time="300"></span></h1></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-warning mx-sm-1 p-3">
                <div class="card border-warning shadow text-warning p-3 my-card" ><span class="fa fa-inbox" aria-hidden="true"></span></div>
                <div class="text-warning text-center mt-3"><h4>Question Asked</h4></div>
                <div class="text-warning text-center mt-2"><h1><span class="count4" data-from=" 0 " data-to="5210" data-time="300"></span></h1></div>
            </div>
        </div>
     </div>
</div>
<!--     Counter Box End-->

<!-- Two Buttons with description-->


<div class="row" style="margin-bottom:23px;">
 <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

</div>

  <div class="col-sm-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title title">Ask Your Question</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Ask a Question</a>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title title">Registered as an Alem</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Sign Up Here</a>
      </div>
    </div>
  </div>
   <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

</div>
</div>
<!-- Two Buttons with description  End-->

<!--footer Section-->

<footer class="section footer-classic context-dark bg-image pt-4" style="background: #2d3246;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="img/logo.png 2x"></a>
                <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
              </div>
            </div>
            <div class="col-md-4">
              <h5>Contacts</h5>
              <dl class="contact-list">
                <dt>Address:</dt>
                <dd>798 South Park Avenue, Jaipur, Raj</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">dkstudioin@gmail.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>phones:</dt>
                <dd><a href="tel:#">https://karosearch.com</a> <span>or</span> <a href="tel:#">https://karosearch.com</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Links</h5>
              <ul class="nav-list">
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Pricing</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row no-gutters social-container">
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
        </div>
      </footer>
<!--footer Section Emd-->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="js/script.js" ></script>
    <script>
      
     
      </script>

  </body>
</html>