{%  extends 'aya/head.html' %}

{% block content %}
{% include 'aya/navbar.html' %}

    <div class="container-fluid register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="img/logo.PNG" alt=""> <br>
             
                <h3>Steps To Follow</h3>
                <div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Step 1</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Step 2</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Step 3</button>
</div>

<div id="London" class="tabcontent">
  <h3>Make a good title</h3>
  <p>Sumerize your whole problem in one line</p>
</div>

<div id="Paris" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p> 
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>
                <input type="submit" name="" value="Login" /><br />
            </div>
            <div class="col-md-9 register-right">
                <div class="row pt-9">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <h2 class="title mt-5"> Ask A Public Question</h2>
                        <form action="">
                           <h5 class="title left">Title</h5>
                            <div class="form-group">
        <input name="" class="form-control" placeholder="Enter the tittle of your Question" type="text">
    </div>
                           <h5 class="title left">Description</h5>
                            <div class="form-group">
         <textarea class="form-control" id="exampleFormControlTextarea1"  placeholder="Describe Your Problem Here" rows="5"></textarea>
    </div>
                           <div class="form-group">
                               <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Catagory
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
  <button class="btn right">Ask Anonymously</button>
</div>
                          <div class="card" >
    <div class="row no-gutters">
        <div class="col-sm-2">
           <i class="fas fa-user-graduate"></i>


        </div>
        <div class="col-sm-10">
            <div class="card-body">
                <h5 class="card-title title mt-0">Our Alems are waiting for You</h5>
                <p class="card-text">Get Answer Now From our verified schoolars</p>
                <a href="#" class="btn btn-primary stretched-link">Get Connected</a>
            </div>
        </div>
    </div>
</div>
                           </div>
                            
                        </form>
                      
                    </div>
                </div>





                <!-- card.// -->


            </div> <!-- row.// -->

        </div>

    </div>



 {% endblock %}